Use international headers when posting file names

[RFC 2388 Section 4.4](http://tools.ietf.org/html/rfc2388#section-4.4) states:

> if the file name of the sender's operating system is not in US-ASCII, the file name might be approximated, or encoded using the method of [RFC 2231](http://tools.ietf.org/html/rfc2231).

[Currently](https://github.com/shazow/urllib3/blob/8b610a305fe0c2c4123bf963b9b53423db8c423d/urllib3/filepost.py#L67), urllib3 does neither. Instead, it will simply UTF-8 encode the file name. While many receiving parties might be able to handle that situation, it appears to me like a violation of the specification, with all the impact this might have on interoperability.

To be more precise, when encountering a non-ascii file name like `Täst.txt`, it should send a header like this:

```
Content-Disposition: form-data; name="fieldname"; file*=utf-8''T%C3%A4st.txt
```

The same holds for non-ascii names of form fields. You can use [the `email.utils.encode_rfc2231` function](http://docs.python.org/2/library/email.util.html#email.utils.encode_rfc2231) to perform this kind of header formatting. For increased portability, you might want to only do so for cases that actually require it, keeping the current syntax for ascii-only names.
