Urllib3 changes the case of hex letters in percent encodings

### Subject

Urllib3 changes the case of hex letters in percent encodings when parsing URLs.

See https://github.com/psf/requests/issues/6473 for the rationale why is this an issue.

### Environment

```
>>> print("OS", platform.platform())
OS Linux-6.3.8-zen1-1-zen-x86_64-with-glibc2.37
>>> print("Python", platform.python_version())
Python 3.11.2
>>> print(ssl.OPENSSL_VERSION)
OpenSSL 3.1.1 30 May 2023
>>> print("urllib3", urllib3.__version__)
urllib3 2.0.3
```

### Steps to Reproduce

```py3
import urllib3.util

print(urllib3.util.parse_url('https://example.com/?example=%2f').query)
```

### Expected Behavior

Prints `example=%2f`.

### Actual Behavior

Prints `example=%2F`.

This function probably is the culprit: https://github.com/urllib3/urllib3/blob/10ceef1c8944a55b51ad53651998c8aa9caedacb/src/urllib3/util/url.py#L227-L260
Called from here:
https://github.com/urllib3/urllib3/blob/10ceef1c8944a55b51ad53651998c8aa9caedacb/src/urllib3/util/url.py#L446

<br />

Simply removing `.upper()` from https://github.com/urllib3/urllib3/blob/10ceef1c8944a55b51ad53651998c8aa9caedacb/src/urllib3/util/url.py#L242 resolves the issue.

But I have no idea what's the purpose of this code, so I'm not going to submit PR yet. This uppercase normalization was introduced by https://github.com/urllib3/urllib3/pull/1647.
@sethmlarson Is this normalization required for auth section? If so, we should only remove it for path, query and fragment, but keep it for auth.

What I understood from the code is that urllib3 assumes that http and https are normalizable schemes and this normalization can be safely done in them. While I see the need for percent encoding URLs like `http://example.com/?example=a=b` I don't see any purpose in changing the case of hex letters in existing percent encodings.

After some thinking, hex letter normalization is only one problem I'm currently having. I think that even percent encoding itself is undesired when `parse_url()` is used in requests library. I think that adding `normalize_uri` kwarg to `parse_url` and using it like this: `parse_url(url, normalize_uri=False)` would be a more general solution to my problem.

We're following RFC 3986 when we normalize percent-encoded bytes and we likely won't change this position, even adding an option to do so doesn't feel right. The website that you're accessing should be conforming to the specification.

From RFC 3986 Section 2.1:

> For consistency, URI producers and normalizers should use uppercase hexadecimal digits for all percent-encodings.

I realize you don't have control over that site, but it's better for the ecosystem for conforming agents to continue conforming rather than bending to non-conforming ones.

@sethmlarson Parser is neither URI producer nor normalizer.

```py
import urllib3.util

print(urllib3.util.parse_url('?example=%2f'))
```

This behaviour is non-conforming with RFC 3986. As per section 5.2.1. "A URI reference must be transformed to its target URI before it can be normalized." Therefore, parser must not normalize URI references as it doesn't know Base URI.

However we're not providing a general purpose URL parser but an HTTP client.

Http client should not normalize URLs. That's how most browsers behave.

I just remembered we provide an escape hatch for this: to avoid percent encoding you can use a low level connection pool (HTTP or HTTPS) as documented in https://urllib3.readthedocs.io/en/stable/reference/urllib3.connectionpool.html#urllib3.connectionpool.ConnectionPool

See #1760 for more details.


Let's just be frank: it's not about conforming to RFC, it's that if normalization can be turned off, things would be much easier for penetration testers.  
Pen testers add/modify arbitrary stuff to HTTP requests, like what @MrQubo and I are trying to do here. And Python has been greatly used in security field. Since `requests` lib uses `urllib3` and `requests` is a widely and easy to used lib, it would greatly help if, for example, there's a switch somewhere to turn the normalization off. 

I understand as a URL lib `urllib3` should do normalizing, since the most use cases are to send HTTP requests, just that if normalization can be turned off people doing security jobs will be much happier. 

Btw, this won't cause any security issue to anyone. We use arbitrary URL to do tests to find exploits, then report them to relating parties, that's how CVEs are found. Forcing normalization won't prevent security issues. 

@fishBone000
Just wanted to mention that most people moved from `requests` to `httpx`. It's faster and doesn't use `urllib3` thus avoids this and other problems.