urllib3 with version 2.0.* treats control character differently

### Subject

The problem is after version 2.0.0, if you have control characters in your request body, urllib3 will count/treat them differently than previous version.

For control characters like '\x08', '\x01', urllib3 after version 2.0.0 and before will count them into different bytes, which might cause the Content-Length mismatch in some cases.

### Environment

The environment I have is Python3.10, and I found this bug exists in all 2.0.* versions.

### Steps to Reproduce

This bug is easy to be reproduced. Here is a sample code I used:

```python
import urllib3

poolmanager = urllib3.PoolManager(num_pools=10, maxsize=3, block=False)
conn = poolmanager.connection_from_url("https://httpbin.org")
resp = conn.urlopen(method="POST", url="/post", body='test\x80\x80\x01\x01\x81',  headers={
                                 'User-Agent': 'python-api/2', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'})
print(resp._body)
```

Run this code under different version of urllib3 (in my case, I used ver 1.26.6 and 2.0.2 for testing) you will find the 'Content-Length' of the response is totally different.

### Expected Behavior

The response body of the request under two different versions of urllib3 should be the same.

### Actual Behavior

The 'Content-Length' for ver 1.26.6 is 9 bytes, but for ver 2.0.2, it is 12 bytes.


You're right that something changed, I believe this is caused by us favoring `utf-8` encoding of strings in v2.0 instead of `latin-1` in v1.26.x.

About that,
There is a miss at https://github.com/urllib3/urllib3/blob/b63cc4c4868dadf1545ad9c5c189096532148a7d/src/urllib3/util/request.py#L230
StringIO objects still are Latin-1 encoded.
We want to consider adding a proper `Content-Type` when someone passes `str` as a body.

Hello @pquentin 

Even by RFC 2616, we are in the wrong.

> The standard library cites RFC 2616 Section 3.7.1 as a justification for using ISO-8859-1. Indeed, it states: ...... When no explicit charset parameter is provided by the sender, **media subtypes of the "text" type are defined**...

urllib3 does not declare Content-Type. So pushing with a "default" charset is out of the specifications here.

> RFC 2616 is now obsolete, I believe the relevant RFC is RFC 9110.

Agreed!

> The media type is indeed unknown to us so we should not send a Content-Type.

Not necessarily. `str` is to be considered plain text, this is not an objective way to pass data.
So, there, when the server receives something that it must label to `application/octet-stream` it breaks the initial intent.

For me it is the most important point, initial intent, users without intermediary knowledge on this may be surprised to see what the server saves or yield afterward. Linked to https://github.com/urllib3/urllib3/issues/3045

> And nothing specifies the default encoding anymore, so I suppose using UTF-8 is OK

So this is counterintuitive, we are making the very same mistake as the early days. Not specifying the charset explicitly by looking at our current era. Who can tell how long before websites switch massively to UTF-16 or... something else entirely?
It would not cost us much to be explicit there.

> But that's still a breaking change. If we want to keep it, we should mention it in the release notes. (And be consistent, as mentioned in https://github.com/urllib3/urllib3/issues/3053#issuecomment-1569436645 we sometimes continue using ISO-8859-1.)

Agreed! :ok_hand: Should be mentioned.


I'm happy to revert back to latin-1 in the interest of not breaking people needlessly.

A warning sounds a bit heavy-handed however. For example, today, if you have not converted to `urllib3.request(json=...)`, the obvious way to send json is with `body=json.dumps(data)`, which is going to emit an ASCII string, and is perfectly safe. We could call `str.isascii` ([which is O(1) and thus fast in Python 3.7+](https://github.com/python/cpython/blob/1ce801b81ce63867ce382f6e9f56873a844c2bc6/Objects/bytes_methods.c#L101-L144)) to only emit a warning if the result would have been different with `latin-1` vs `utf-8`, however, but that sounds a bit complicated and surprising.

I agree completely with @oinopion's proposal, let's do that if no one else objects? Going to require @pquentin's review on any potential PRs since he was involved in the discussion.

> if no one else objects?

just some general thoughs:
- what does the standard dictate?
- what do other (quasi-standard, high-profile) libraries do (both, python and non-python)?
- if `latin-1` was the wrong default, or at least an unelegant pick, then leave `UTF-8` after(!) validating it.
- and finally: possibly just make the default-encoding configurable


Adding to this that we want all request bodies encoded with UTF-8, [both chunked and unchunked](https://github.com/urllib3/urllib3/pull/3063#issuecomment-1813806012).