Comply with TLS settings mandated for HTTP/2 in RFC 9113

[RFC 9113](https://www.rfc-editor.org/rfc/rfc9113.html) imposes a number of conditions on TLS settings:

 * Section 9.2: mandates TLS 1.2 or above (can be done with `ssl_minimum_version`)
 * Section 9.2.1/9.2.2: mandates one specific TLS 1.2 cipher suite (TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256) with a specific ECDH curve (though I think the curve choice is specific to servers) and forbids others. http://python-hyper.org/projects/h2/en/stable/negotiating-http2.html lists all allowed cipher suites in practice, but it references RFC 7540 and it's possible allowed cipher suites have changed between the two RFCs.
 * Section 9.2.1: Renegotiation must be disabled (using `ssl.OP_NO_RENEGOTIATION`), meaning at some point a connection will become unusable, at which point we will have to discard it.
 * Section 9.2.1/10.6: forbids the use of TLS compression (`ssl.OP_NO_COMPRESSION` must be set)
 * Section 9.2.3: HTTP/2 clients MUST treat a TLS post-handshake CertificateRequest message as a [connection error](https://www.rfc-editor.org/rfc/rfc9113.html#ConnectionErrorHandler) ([Section 5.4.1](https://www.rfc-editor.org/rfc/rfc9113.html#ConnectionErrorHandler)) of type [PROTOCOL_ERROR](https://www.rfc-editor.org/rfc/rfc9113.html#PROTOCOL_ERROR). Maybe hyper-h2 does this for us? We probably still want to enable post-handshake authentication in case the server is HTTP/1.1.

Most of these will have to be encoded in `create_urllib3_context`, which will need an HTTP/2 mode. It has to be part of the public API to allow users to tweak the context further if they want to, for example to handle a non-conformant server. `HTTP2Connection` will thus need to accept an `ssl_context` parameter at this point.

I was intending to work on this! Is this bounty still available? otherwise if there are any other relevant updates, please do inform me!


Yes, it is still available. The first task is to have an HTTP/2 version of `create_urllib3_context‘ and associated tests, possibly as a new function.

> Thanks for the reply! After taking a look into the stuff we have to do, it seems that most of the requirements specified are already present in `create_urllib3_context`. Like, `create_urllib3_context` already defaults to TLS v1.2 and `OP_NO_COMPRESSION`.

Correct!

> Also I suppose `ssl` chooses the best cipher for us, based on the protocol version.

Today, `ssl` [allows cipher suites](https://github.com/python/cpython/blob/b15b81ed4f58196b35e3dd13b484f4c7a73e5bb8/Modules/_ssl.c#L165-L181) based on https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/. It's not clear if that's the same set of cipher suites that should be allowed with HTTP/2, given the blocklist in Appendix A: https://www.rfc-editor.org/rfc/rfc9113.html#BadCipherSuites. In http://python-hyper.org/projects/h2/en/stable/negotiating-http2.html, the result was pretty different:

```python
# RFC 7540 Section 9.2.2: "deployments of HTTP/2 that use TLS 1.2 MUST
# support TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256". In practice, the
# blocklist defined in this section allows only the AES GCM and ChaCha20
# cipher suites with ephemeral key negotiation.
ctx.set_ciphers("ECDHE+AESGCM:ECDHE+CHACHA20:DHE+AESGCM:DHE+CHACHA20")
```

But this was written 8 years ago. We need to check if things have changed between RFC 7540 and RFC 9113.

> I see only a couple of things that is not there at the moment, `OP_NO_RENEGOTIATION` and disabling post-handshake CertificateRequest. The former can easily be incorporated in the current code, though not sure about the latter.

For the latter, we need to research whether there's anything we can do about it at our level. We do enable post-handshake authentication in `create_urllib3_context`, but I don't think we can disallow CertiticateRequest specifically. And not enabling post-handshake auth might make matters worse?

> Am I missing something?

You're not missing anything! Some things are simple, others can be tricky. A lot of the work involved here is research, and then encoding that research in an unit test. It does look like adding an `http2` parameter to `create_urllib3_context` will be enough.

Thanks for the detailed clarification! Now, I can work on making the changes without worrying that I misunderstood something! :smiley: 


> HTTP2Connection will thus need to accept an ssl_context parameter at this point.

The original comment also mentioned the above. I'd be happy to help to make this happen!

So, I think we need to pass the `SSLContext` passed by the user, or create one using `create_urllib3_context`, to the `HTTPSConnection`(parent class)'s constructor, and add tests to verify this.

@pquentin If you have any other ideas, do share!

Right, so what we really need here is to set `http2` to True for HTTP/2 connections in this function call:

https://github.com/urllib3/urllib3/blob/abbfbcb1dd274fc54b4f0a7785fd04d59b634195/src/urllib3/connection.py#L860-L867

which is annoying because at this point we don't know if the target supports HTTP/2 or not!

I discussed with two curl developers and it turns out that curl never implemented those requirements, and actually accepts TLS 1.1 if the server does. "Worse", they even said that about that section of RFC 9113:

> It was an attempt to make the internet a safer place by forcing certain things on everyone who wanted to do h2. I think those days are gone.

As a result, we should probably revert your pull request, sorry. (Of course, you'll keep your well-deserverd bounty)