Feature: Remove support for common names in certificates

We should follow the [lead of Chromium](https://code.google.com/p/chromium/issues/detail?id=308330). We should deprecate support for use of common names when a certificate doesn't provide a subjectAltName.

This will bring us into compliance with the >10 year old RFC 2818
## 


Getting same error on SLES 12 SP4 which is hosted on Azure. While I execute error is 

/usr/lib/python3.4/site-packages/requests/packages/urllib3/connection.py:251: SecurityWarning: Certificate has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is being removed by major browsers and deprecated by RFC 2818. How Can I resolve this ?

> Deprecation Warning for the next release and see how many people report it as a bug?

If we report it as a bug, would it be possible to remove the deprecation warning?

@txomon I'm sorry that this is painful for you.

But unfortunately, we won't remove the warning. This was a possibility in 2014, but is no longer one in 2019. commonName is going away for good. The recent macOS 10.15 rejects certificates without a subjectAltName. I guess we could change the warning to "This feature has been removed by major browsers" now. But since urllib3 no longer accepts breaking changes, the support itself won't be removed, I think.

You can always filter the warning if you can't fix your certificate.

As I said way way back (https://github.com/urllib3/urllib3/issues/497#issuecomment-68562580 and https://github.com/urllib3/urllib3/issues/525) - urllib3 is *not* a browser, and users often have no control over the certificates they interact with. Logging it is fine, but the warning is just a major PITA since it dumps out to the console. I don't expect this will ever really change as the devs want to behave like a browser instead of the API that it is.

> But since urllib3 no longer accepts breaking changes, the support itself won't be removed, I think.

@pquentin I suspect that you don't mean to imply that urllib3 won't change cipher suites or default accepted TLS versions as the the most uncharitable description of them would be "breaking changes".

As the world moves forward towards better security practices, so should this project. If it doesn't under the guise of "no breaking changes", it will become irrelevant.

Provided an escape hatch (unlike a browser), this seems like a reasonable breaking change given that we've been warning about it for 5 years.

You're right, I forgot that the "no breaking changes" policy does not apply to such security changes, and in fact we did update the cipher suites recently. Sorry about that.

> commonName is going away for good

This is not true for non-web HTTPS servers. There are a substantial amount of legacy services that do not need to accessed by a web browser but do serve over TLS, but aren't bound by the CAB forum guidelines. 

I wouldn't remove the ability to check the CN entirely (even if behind an opt-in option).





urllib3 only provides HTTPS, no other protocols, so while it's technically true that other protocols' use of TLS (or X.509) might allow CNs for matching, I'm not sure it should effect what urllib3 does?

Consider SOAP web services over HTTPS. Certificate verification happens on the TLS layer anyway, but the point is that there exist HTTPS services that don't have SANs (working on moving them over) so it'd be less than ideal if urllib dropped CN checking entirely.

Just a note: There's no distinction between certificates used by a browser and ones used to tools. TLS cert standards and requirements don't apply to just browsers.

The CAB forum guidelines are between the CA and Browser vendors, which drive the requirement to drop non-SAN certificates . If you run a private CA you can do whatever you want, including not issuing certificates with SANs.

>Just a note: There's no distinction between certificates used by a browser and ones used by tools. TLS cert standards and requirements don't apply to just browsers.

This is wrong. TLS cert requirements are determined by the applications using TLS. Browsers have very  different requirements than, say, ancient web services using HTTP+TLS. Browsers might want to enforce RFC 6125, which is fine, but urllib3 is not used in just CAB-covered use cases. 

I would encourage urllib3 developers to not entirely remove CN checking, but to place it behind an option.




Lots of software imposes requirements on certificates issued from private
CAs -- both Chrome and Apple do. Private CAs can issue whatever they want,
but the rest of the world is not obligated to do extra work to support
their malformations.

On Sat, Nov 23, 2019 at 5:30 PM Nimish Telang <notifications@github.com>
wrote:

> The CAB forum guidelines are between the CA and Browser vendors, which
> drive the requirement to drop non-SAN certificates . If you run a private
> CA you can do whatever you want, including not issuing certificates with
> SANs.
>
> Just a note: There's no distinction between certificates used by a browser
> and ones used by tools. TLS cert standards and requirements don't apply to
> just browsers.
>
> This is wrong. TLS cert requirements are determined by the applications
> using TLS. Browsers have very different requirements than, say, ancient web
> services using HTTP+TLS. Browsers might want to enforce RFC 6125, which is
> fine, but urllib3 is not used in just CAB-covered use cases.
>
> I would encourage urllib3 developers to not entirely remove CN checking,
> but to place it behind an option.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/urllib3/urllib3/issues/497?email_source=notifications&email_token=AAAAGBDIGYKY3HTXL2G5ZM3QVGVI7A5CNFSM4AWVZM7KYY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEE77DHQ#issuecomment-557838750>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAAAGBBOGJMGOOGFITAP6BTQVGVI7ANCNFSM4AWVZM7A>
> .
>


-- 
All that is necessary for evil to succeed is for good people to do nothing.


These are not malformations at the TLS/HTTPS layer, and a TLS/HTTPS library shouldn't enforce application specific requirements from browsers onto users of the library.

urllib3 is not merely used by browser-clones, otherwise why support custom CAs (not CAB compliant, by design in somecases) at all? 

It's not like CN checking is a huge amount of code, nor is it intrinsically insecure, just _recommended_ to be deprecated. 

Placing features behind options requires adding testing that confirm that the feature still works despite being behind a flag. These carry non-zero cost, so choices like that must be weighed against the benefit they provide. Any private CA is perfectly capable of adding a SAN (and they can even leave their CN in place if they have other parts of the system that depend on it!), so while I'm not a maintainer of this particular library I wouldn't be inclined to maintain a codepath that has no practical utility.

If it comes down to maintenance time and resources, I will happily step up to maintain this particular feature.

> Any private CA is perfectly capable of adding a SAN

This doesn't fix the existing userbase of thousands of servers who have SAN-less certificates. As a client-user of urllib3, I am not in a position to fix server certificate issues. The timeline to replace certificates is maddeningly long and not under client control.



Go 1.15 has stopped support common name hostname matching:

https://golang.org/doc/go1.15#commonname

> The deprecated, legacy behavior of treating the CommonName field on X.509 certificates as a host name when no Subject Alternative Names are present is now disabled by default.

I'm entertained at the thumbs down on @tiran's comment as if this is somehow our fault.

As for removing this here, we should do it. We should do it soon. And the "option" to enable or disable it is to pin your version of urllib3. In the Private CA case, there's far more control over what gets issued there than is being let on. Further the argument that urllib3 - an HTTP client - isn't always used like a browser is correct, but browsers are combination HTTP clients and renderers of XML and CSS as well as JavaScript engines. urllib3 has never attempted to be a browser or focused on the _browser_ usecase. That said, browsers tend to lead the HTTP client ecosystem in security practices. Following browsers towards guaranteeing user's security, while upsetting for a minority, is a net positive for all of our users.

Trying to actively undermine the security of millions of users because of a niche use-case is unreasonable. It's like saying that folks who refuse to use smart phones haven't completely died off on the planet, so no one can have one, or alternatively, every HTTP client has to wait for every server presently connected to any private or public internet to have adopted technology from at least 10 years ago and best practices that have been around for as long if not longer before any change can be made. It's not reasonable. I understand the sentiment, but that's not how the world works.

Unsurprising to anyone who knows me I'm sure, for whatever it's worth I mirror @sigmavirus24 here, it should get done. An ecosystem shouldn't get held back due to some edge cases that can be solved elsewhere.

:+1: to what @sigmavirus24 says. I'm sure there exist people in the world who want or need this feature, but I'd like to encourage them to maintain a fork that continues to support it. We would be happy to link to it as an alternative.

Go taking the lead here is fantastic. In my head this is definitely happening in v2 at the latest.

Also to the point of SOAP APIs, I integrate (in Python, Java, and Go) with the Salesforce SOAP API (probably one of the most popular examples around) and that has no issue with modern security practices or TLS standards

👍 on removing CNAME validation support in favor of SAN only.

> I'm entertained at the thumbs down on @tiran's comment as if this is somehow our fault.
> 
> As for removing this here, we should do it. We should do it soon. And the "option" to enable or disable it is to pin your version of urllib3. In the Private CA case, there's far more control over what gets issued there than is being let on. Further the argument that urllib3 - an HTTP client - isn't always used like a browser is correct, but browsers are combination HTTP clients and renderers of XML and CSS as well as JavaScript engines. urllib3 has never attempted to be a browser or focused on the _browser_ usecase. That said, browsers tend to lead the HTTP client ecosystem in security practices. Following browsers towards guaranteeing user's security, while upsetting for a minority, is a net positive for all of our users.
> 
> Trying to actively undermine the security of millions of users because of a niche use-case is unreasonable. It's like saying that folks who refuse to use smart phones haven't completely died off on the planet, so no one can have one, or alternatively, every HTTP client has to wait for every server presently connected to any private or public internet to have adopted technology from at least 10 years ago and best practices that have been around for as long if not longer before any change can be made. It's not reasonable. I understand the sentiment, but that's not how the world works.

I can categorically say you are mistaken. Private CA doesn't imply that we control the CA, just that it isn't available to the public. How they issue certs is 100% up to them. 

The CAB guidelines are not applicable to anything but the web. No browser = anything goes. An IETF RFC is not binding law, nor would it be applicable to systems designed before it came out. 

It's clear that the decision was made here without considering actual use of urllib3 in the wild, instead using data based on web browsing (where this makes sense) vs general purpose certificate users.  

This non-backwards-compatible change ought be called out clearly. We will pin to the latest capable version.


I would humbly requst




Removing things that 

5 years later, and I still feel the same way on this issue. There are still an unfortunately broad variety of unusual certificates in the wild. As one of the many voices who invested significant effort in the decision to turn certificate validation on by default in the first place, I'm saddened that this change will likely result in users disabling certificate validation altogether rather than pinning to an old version or monkey patching in replacement functionality.

Corporate networks are weird. Embedded devices are weird. Hardware is slow to change. Within the past year, I encountered an (outdated, but still very much in use) hardware device with a bug in the SAN parsing such that if you served it a cert with SANs, it wouldn't connect. Yes, it had a special purpose endpoint serving a cert just for it, but talking to that special purpose API with python for interoperability will be harder after this change goes through.

As has been said before, browsers are far from the only use case for HTTPS, and the public internet is far from the only place it is used.

This decision to remove support for commonName is being made independently across browsers, ecosystems, and tools alike. Machines and services that are running legacy software are frustrating I agree, but they're also just that: legacy. The rest of the world has been wanting to move on for a really long time now. We're not a special snowflake making this change in a vacuum, we're trying to improve the security of our users.

**This change will be included in v2.** That decision has been made and without overwhelming evidence to the contrary we can move on from the "if" stage and start discussing what urllib3 without commonName support will look like and how we can reduce confusion when the change is released.

My proposal is the following:
- When work on urllib3 v2 begins we will keep commonName support for the first alpha (`v2.0.0a1`) that adds a warning when a certificate verifies properly but only due to commonName. This warning will point to documentation on what to do if you're in this position.
- Documentation will point to what SAN is, how to generate certificates with SAN, and how to pin urllib3 if you can't modify your certificate. We'll also say that we're planning on backporting security fixes and some bug fixes to the v1 branch for some time (thanks Tidelift!) so users shouldn't be worried about choosing between security fixes and commonName support.
- The first release of `v2.0.0` will still include commonName support but will warn as above that this change is imminent.
- The second release of `v2.1.0` will remove commonName support

Does this sound satisfactory to others? There may be other changes going into v2 that may need to follow this pattern also.

Maybe have a flag to opting into the new logic, have that flag off in 2.0.0, on in 2.1.0, and removed completely in 2.2.0. That way we phase it in such that people who are doing nothing but upgrading to released versions will first get a warning but won't be broken, will be broken but have a quick fix while they work on the larger fix of fixing their certificates, and then finally support for it is dropped.

> This decision to remove support for commonName is being made independently across browsers, ecosystems, and tools alike. Machines and services that are running legacy software are frustrating I agree, but they're also just that: legacy. The rest of the world has been wanting to move on for a really long time now. We're not a special snowflake making this change in a vacuum, we're trying to improve the security of our users.
> 
> **This change will be included in v2.** That decision has been made and without overwhelming evidence to the contrary we can move on from the "if" stage and start discussing what urllib3 without commonName support will look like and how we can reduce confusion when the change is released.
> 
> My proposal is the following:
> 
> * When work on urllib3 v2 begins we will keep commonName support for the first alpha (`v2.0.0a1`) and instead add a warning when a certificate verifies properly but only due to commonName. This warning will point to documentation on what to do if you're in this position.
> * Documentation will point to what SAN is, how to generate certificates with SAN, and how to pin urllib3 if you can't modify your certificate. We'll also say that we're planning on backporting security fixes and some bug fixes to the v1 branch for some time (thanks Tidelift!) so users shouldn't be worried about choosing between security fixes and commonName support.
> * The first release of `v2.0.0` will still include commonName support but will warn as above that this change is imminent.
> * The second release of `v2.1.0` will remove commonName support
> 
> Does this sound satisfactory to others? There may be other changes going into v2 that may need to follow this pattern also.

If no functionality for custom cert validation is going in v2, then this is certainly acceptable to us.

#### Code Changes

- Additional option on SSLContext needs to be set if available `hostname_checks_common_name`
- Since we're already keeping `_match_hostname` around even if we're trying to rely more on SSLContext hostname verification more
- Need to verify what is available for pyOpenSSL here
- SecureTransport not sure if any options are supported, likely will need to continue using `_match_hostname`

#### Documentation

- Use a URL in the error message
  - Might need to introspect `getpeercert` to generate a more helpful warning here by detecting missing `commonName` field
- Maybe small example of how to generate a certificate with subjectAltName

Closing since https://github.com/urllib3/urllib3/pull/2113 was merged.

urllib3 2.0 won't support common names at all.

If you need to generate new certificates wich subject alternative names, I would recommend using trustme: https://github.com/python-trio/trustme. This is what urllib3 uses internally.

Where does RFC 2818 that the common name should not be accepted? As I read it, the RFC specifically requires to accept it:

>   If a subjectAltName extension of type dNSName is present, that MUST
>   be used as the identity. Otherwise, the (most specific) Common Name
>  field in the Subject field of the certificate MUST be used. Although
>   the use of the Common Name is existing practice, it is deprecated and
>  Certification Authorities are encouraged to use the dNSName instead.

Currently urllib3 seems to not accept a certificate where the Common Name in the Subject field is set when the dNSName is not present. This goes against the above which says the Common Name MUST be used in these cases.

Yeah, this is not RFC compliant at all as @bjanders says.
Now, RFC 2818 has been obseleted by RFC 9110.

[RFC 9110 - Section 4.3.4 ](https://datatracker.ietf.org/doc/html/rfc9110#section-4.3.4) defers the process of verifying the service identity to [RFC 6125 - Section 6](https://datatracker.ietf.org/doc/html/rfc6125#section-6).

And RFC 6125 **EXPLICITLY** calls out keeping backwards compatibililty
> In general, this specification recommends and prefers use of subjectAltName entries (DNS-ID, SRV-ID, URI-ID, etc.) over use of the subject field (CN-ID) where possible, as more completely described in the following sections.
> However, specifications that reuse this one **can legitimately encourage continued support for the CN-ID** identifier type if they have good reasons to do so, such as **backward compatibility with deployed infrastructure**

I also think it is wrong and dangerous to let Chromium be the de facto standard setting body instead of the IETF. This change plays along with Chromium, ignoring what the IETF has defined in the RFC.