More configurable metadata in filepost encoding requests

This issue report (just like #119) is based solely on the specifications, and not backed by any real world problem I encountered _yet._

[RFC 2388 Section 4.5](http://tools.ietf.org/html/rfc2388#section-4.5) states:

> In the case where a field element is text, the `charset` parameter for the text indicates the character encoding used.

The content type is optional in the case of `text/plain`, but in that case, the default charset is ASCII. So to ensure correct treatment, you should always add a header

```
 Content-Type: text/plain; charset="utf-8"
```

to text fields. At least if they are not ascii-only, but always adding it might be easier.

On the other hand, if the data is binary, i.e. considered to be the content of a file, then [Section 3](http://tools.ietf.org/html/rfc2388#section-3) mandates:

> If the contents of a file are returned via filling out a form, then the file input is identified as the appropriate media type, if known, or "`application/octet-stream`".

So in those cases you should send a header of

```
Content-Type: application/octet-stream
```

I'm not sure how you'd best differentiate these two cases in the library, as you don't strictly distinguish between file content and text content. If the data is unicode, then I'd treat it as text. If the input is binary and not strictly ascii, then I'd treat it as a file. For binary ascii-only data, you might use the presence or absence of a file name to distinguish.

Furthermore, [RFC 2388 Section 4.3](http://tools.ietf.org/html/rfc2388#section-4.3) states:

> The value supplied for a part may need to be encoded and the "`content-transfer-encoding`" header supplied if the value does not conform to the default encoding.

I haven't yet figured out what that “default encoding” is in this case, and where it is specified. But just to be sure, I'd suggest to add either of these to every content:

```
Content-Transfer-Encoding: 8bit
Content-Transfer-Encoding: binary
```

I must confess that I'm quite unsure about how these two differ, if at all. I have the gut feeling that `8bit` might be more suitable for text, particularly if its lines are not too long, and `binary` more suitable for file content. But as this is based mostly on my (very theoretic) understanding of how things work with SMTP as the underlying transport, I'm far from sure for HTTP.
## 


I'm going to close this one since it was hypothetical instead of based on a known issue.