`util.parse_url` allows invalid characters in reg-names

### `util.parse_url` allows invalid characters in reg-names.

RFC3986 defines reg-name as follows:
`reg-name = *( unreserved / pct-encoded / sub-delims )`
`unreserved = ALPHA / DIGIT / "-" / "." / "_" / "~"`
`sub-delims = "!" / "$" / "&" / "'" / "(" / ")" / "*" / "+" / "," / ";" / "="`
`pct-encoded = "%" HEXDIG HEXDIG`

Currently, `urllib3.util.parse_url` accepts reg-names containing characters outside those enumerated above.
The incorrectly accepted ASCII characters are `[\x00-\x20]`, `"`, `<`, `>`, `^`, `` ` ``, `{`, `|`, `}`, and `\x7f`.

### Environment
```python3
>>> print("OS", platform.platform())
OS Linux-6.0.7-arch1-1-x86_64-with-glibc2.36
>>> print("Python", platform.python_version())
urllib3 2.0.0.dev0
>>> print("urllib3", urllib3.__version__)
Python 3.10.8
```

### Steps to Reproduce

```python3
>>> import urllib3
>>> urllib3.util.parse_url("http://|") # Whatever happens, "|" should not end up in a reg-name.
Url(scheme='http', auth=None, host='|', port=None, path=None, query=None, fragment=None)
>>> # But it does!
```

3986 isn't the end of the line. WHAT WG supports Unicode ignoring 3987

WHATWG also disallows many of these characters. Quoting the WHATWG spec:

"If input contains a [forbidden host code point](https://url.spec.whatwg.org/#forbidden-host-code-point), [validation error](https://url.spec.whatwg.org/#validation-error), return failure."
"A forbidden host code point is U+0000 NULL, U+0009 TAB, U+000A LF, U+000D CR, U+0020 SPACE, U+0023 (#), U+002F (/), U+003A (:), U+003C (<), U+003E (>), U+003F (?), U+0040 (@), U+005B ([), U+005C (\), U+005D (]), U+005E (^), or U+007C (|)."
(If you see any of these characters, the parse should fail)

"If input contains a [forbidden host code point](https://url.spec.whatwg.org/#forbidden-host-code-point), [validation error](https://url.spec.whatwg.org/#validation-error), return failure."
"The URL code points are [ASCII alphanumeric](https://infra.spec.whatwg.org/#ascii-alphanumeric), U+0021 (!), U+0024 ($), U+0026 (&), U+0027 ('), U+0028 LEFT PARENTHESIS, U+0029 RIGHT PARENTHESIS, U+002A (*), U+002B (+), U+002C (,), U+002D (-), U+002E (.), U+002F (/), U+003A (:), U+003B (;), U+003D (=), U+003F (?), U+0040 (@), U+005F (_), U+007E (~), and [code points](https://infra.spec.whatwg.org/#code-point) in the range U+00A0 to U+10FFFD, inclusive, excluding [surrogates](https://infra.spec.whatwg.org/#surrogate) and [noncharacters](https://infra.spec.whatwg.org/#noncharacter)."
(If you see any characters other than these characters, they will later be percent-encoded.)

> 3986 isn't the end of the line. WHAT WG supports Unicode ignoring 3987

The docs say "This parser is RFC 3986 and RFC 6874 compliant," so I would assume that RFC compliance trumps WHATWG compliance. Is that a safe assumption to make?

I'm not sure what Unicode has to do with this; this is about incorrectly accepted ASCII characters. The PR currently breaks Unicode, but that's pretty easily fixable, I just need to know which Unicode URL spec to comply with (RFC3987 or WHATWG).

@kenballus Yeah that's a safe assumption, we implement RFC 3986 instead of WHATWG. Why have you closed your PR btw?

I closed the PR because I made it from the main branch of my fork and it had an extraneous fix built in. Working on making a series of PRs, each from separate branches, that fix a few different things.

Currently traveling for Thanksgiving, but will submit in the next few days.

If someone tries to encode a URL containing an invalid character (e.g. `'\x00'`), should we automatically percent-encode it, or should we reject the parse?

Sorry for taking so long to get to this. I'm going to make a call that we continue doing what we're doing and percent-encode everything that's outside the valid ranges for each component. Can discuss more but I think it's better to make a call rather than delay indefinitely.