parse_url doesn't %-decode user/password

### Subject

As far as I understand[^rfc], reserved characters need to %-encoded in URLs.

[^rfc]: [RFC 3986 section 3.2.1.](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.1): `userinfo    = *( unreserved / pct-encoded / sub-delims / ":" )`

So, if you have user "u{er" with password "pa}}word" for example.com, you would encode it as `http://u%7Ber:pass%7D%7Dword@example.com`. However, parse_url doesn't decode those parts:

```py
>>> import urllib3
>>> urllib3.util.parse_url("http://u%7Ber:pass%7D%7Dword@example.com").auth
'u%7Ber:pass%7D%7Dword'
```

Even worse, it encodes them for invalid URLs if you try to work around it:

```py
>>> urllib3.util.parse_url("http://u{er:pass}}word@example.com").auth
'u%7Ber:pass%7D%7Dword'
```

Therefore, if you use it to parse an URL pass `url.auth` into `make_headers(basic_auth=url.auth)`, you get a 401 and a downtime (ask me how I know).


### Environment

```
OS macOS-26.4-x86_64-i386-64bit-Mach-O
Python 3.14.3
OpenSSL 3.5.5 27 Jan 2026
urllib3 2.6.3
```

### Steps to Reproduce

See above.

### Expected Behavior

`urllib3.util.parse_url("http://u%7Ber:pass%7D%7Dword@example.com").auth` should return `u{er:pa}}word`.

`yarl` and `httpx.URL` get this right.

### Actual Behavior

It returns `u%7Ber:pass%7D%7Dword`

This behavior is shared by the stdlib and ada_url.

See also #3785

I thought about approaching my bug report this way, but convinced myself that it was reasonable for urllib3 to not unquote the "auth" property value because it seems to represent the RFC named userinfo subcomponent and the library choosing not to present accessors for user and password avoids problems, for example, suppose the percent-encoded userinfo contains a colon, and the auth value is used but was unquoted internally, it's impossible for the caller to know which is the separator colon.

`parse_url()` returns a `Url` object, which is intended to preserve URL components in their parsed form.

For `userinfo`, RFC 3986 [requires ](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.1) reserved characters such as `{}` to be percent-encoded, so preserving and enriching the percent-encoded representation here appears consistent with that model.

As a result, `Url.auth` is not currently a decoded username/password value, and it is not well suited to be passed directly to `make_headers(basic_auth=...)` without additional handling.

I can see how that behavior would be confusing. This may be worth clarifying in the docs, or potentially revisiting the API to make the distinction between parsed URL credentials and decoded auth values more explicit.