Client certificates don't work if the certificate data is in a single-use named pipe/fifo

https://2.python-requests.org/en/master/user/advanced/#client-side-certificates

I'm unclear if this is actually an issue with `urllib3` or the underlying `ssl` module, but if your certificate is **actually** a named pipe/fifo instead of a real file, it looks like it's read from multiple times, which results in a hang on subsequent open calls.

I'm guessing this is really more of an enhancement request than a bug, but I discovered this while working with another library that uses `requests` and passes the pemfile in via a named pipe.  Here's a simple reproduction where you can observe that it hangs forever:

```python
~/venvs/tmp-62c5a237d7b6777 cat certs.py
import os
import threading
import urllib3

PATH = 'some.pem'
CERT_DATA = b'''-----BEGIN CERTIFICATE-----
ACTUAL-CERT-DATA
-----END CERTIFICATE-----
-----BEGIN PRIVATE KEY-----
ACTUAL-KEY-DATA
-----END PRIVATE KEY-----
'''

if os.path.exists(PATH):
    os.remove(PATH)
os.mkfifo(PATH)
threading.Thread(
    target=lambda: open(PATH, 'wb').write(CERT_DATA)
).start()

http = urllib3.PoolManager(
    cert_file=PATH,
    cert_reqs='CERT_REQUIRED'
)
print(http.request('GET', 'https://ansible.com').status)
```

```shell
~ python3 certs.py
```

```shell
~ strace -p 28564
strace: Process 28564 attached
openat(AT_FDCWD, "some.pem", O_RDONLY)  = ? ERESTARTSYS (To be restarted if SA_RESTART is set)
```

It looks to me like this is actually a limitation of `ssl.SSLContext`, not `urllib3` itself:

```python
> /home/ryanpetrello/venvs/tmp-62c5a237d7b6777/lib/python3.7/site-packages/urllib3/util/ssl_.py(366)ssl_wrap_socket()
-> context.load_cert_chain(certfile, keyfile)
(Pdb) l
361  	        raise SSLError("Client private key is encrypted, password is required")
362
363  	    if certfile:
364  	        if key_password is None:
365  	            import pdb; pdb.set_trace()
366  ->	            context.load_cert_chain(certfile, keyfile)
367  	        else:
368  	            context.load_cert_chain(certfile, keyfile, key_password)
369
370  	    # If we detect server_hostname is an IP address then the SNI
371  	    # extension should not be used according to RFC3546 Section 3.1
(Pdb) context
<ssl.SSLContext object at 0x7f7ae4c4ead0>
(Pdb) context.load_cert_chain(certfile, keyfile)
```

Do you mean that if you call `ssl.SSLContext` only once outside of any urllib3 context, it hangs?