urllib3 return "Bad Request: wrong URL host"

I want to send some file to telelgram like this:
```
r = http.request("POST", "TELEGRAM URL", 
    fields={ "chat_id" : "@CHANNEL_ID", 
             "document" : ('한글.hwp', open('SOMEFILE', 'rb').read())})
```
But urllib3 returns error like below.
`b'{"ok":false,"error_code":400,"description":"Bad Request: wrong URL host"}'`

I tried some debugging, finally found something.
In fields.py
```
def format_header_param(name, value):
    """
    Helper function to format and quote a single header parameter.

    Particularly useful for header parameters which might contain
    non-ASCII values, like file names. This follows RFC 2231, as
    suggested by RFC 2388 Section 4.4.

    :param name:
        The name of the parameter, a string expected to be ASCII only.
    :param value:
        The value of the parameter, provided as a unicode string.
    """
    if not any(ch in value for ch in '"\\\r\n'):
        result = '%s="%s"' % (name, value)
        try:
            result.encode('ascii')
        except (UnicodeEncodeError, UnicodeDecodeError):
            pass
        else:
            return result
    if not six.PY3 and isinstance(value, six.text_type):  # Python 2:
        value = value.encode('utf-8')
    value = email.utils.encode_rfc2231(value, 'utf-8')
    value = '%s*=%s' % (name, value)
    return value
```
According to comment in fields.py, 
'param name' expected to be ascii only. But 'param value' is not.
In my case, param value("한글.hwp") is not ascii only. 
But in fields.py, trying to test 'result' whether string is ascii only after concatenating 'name' and 'value'.


Have you tried the latest version of urllib3? We recently changed our `format_header_param` to follow HTML5 instead of RFC 2231.

With latest version, it works right. 
I used python-telegram-bot, that includes urllib3. that is not latest version.
Thank you.